/* @import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-family: 'Afacad';
    border-bottom: 1px solid #ddd;
    height: 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-title {
    font-size: 25px;
    color: #17005A;
    font-family: 'Afacad';
    font-weight: 500;
    margin-left: -140px;
    margin-right: 10px;
}

.navbar-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar-link {
    font-size: 20px;
    text-decoration: none;
    color: #17005A;
    margin-left: 30px;
    font-family: 'Afacad';
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #9AD4EC;
}

.navbar-lr {
    margin-right: -180px;
}

.btn {
    font-family: 'Afacad';
    font-size: 20px;
    color: #ffffff;
    background-color: #17005A;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #9AD4EC;
}


.popup-add {
    position: fixed;
    top: 18%;
    right: 0%;
    z-index: 1001;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 30px;
    width: 30%;
    height: 67%;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.add-container {
    text-align: center;
    flex-grow: 1;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px; 
}

.add-container h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Afacad';
    font-size: 45px;
}

.add-container h3 {
    margin-top: 35%;  
    margin-bottom: 20px;
    font-family: 'Afacad';
    font-size: 25px;  
    color: #17005A;
    display: block; 
    text-decoration: underline;
}



.btn-button {
    padding: 10px 16px;
    font-size: 16px;
    font-family: 'Afacad';
    cursor: pointer;
    background-color: #17005A;
    color: #fff;
    border: none;
    border-radius: 30px;
    width: 20%;
    margin-left: 40%;
    transition: background-color 0.3s;
}

.btn-button:hover {
    background-color: #9AD4EC;
} */