@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;700&display=swap");
.button-no-container {
    padding: 10px 20px;
    background-color: #17005a;
    color: #9ad4ec;
    font-weight: 600;
    font-family: "Afacad", sans-serif;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-no-container:hover {
    background-color: #9ad4ec;
    color: #17005a;
     /* Darker shade on hover */
  }

  .button-yes-container {
    padding: 10px 20px;
    background-color: #9ad4ec;
    color: #17005a;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Afacad", sans-serif;
  }
  
  .button-yes-container:hover {
    background-color: #17005a;
    color: #9ad4ec; /* Darker shade on hover */
  }

  .floor-container {
    display: flex;
    align-items: center;
    color: #17005a;
    font-family: "Afacad", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    background-color: #9ad4ec;
    width: 60%;
    border: none;
    border-radius: 25px;
    text-decoration: underline;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 7%;
  }

  .feature-container {
    font-family: 'Afacad', sans-serif;
    font-size: 30px;
    color: #17005a;
    font-weight: 700;
    margin-left: 0%;
    margin-top: 0%;
  }

  .bin-container {
    font-family: 'Afacad', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #17005a;
    margin-left: 0%;
    margin-top: 5%;
  }

  .comment_format {
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #b4e1f7;
    color: #17005a;
    border: none;
    font-weight: 400;
    border-radius: 0px 25px 25px 25px;
    font-size: 20px;
    text-align: left;
  }
  
  .comment {
    display: flex;
  }
  
  .comment div {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  /* comment */
  .info-popup h1 {
    padding: 10px 20px;
    background-color: #b4e1f7;
    color: #17005a;
    border: none;
    border-radius: 30px;
    font-size: 30px;
  }
  
  .trash-type-container {
    margin: 0px 5px;
  }
  
  .trash-type-container li {
    font-size: 20px;
    color: #17005a;
    margin-bottom: 15px;
    font-weight: 300;
    font-family: "Afacad", sans-serif;
    list-style-type: none;
  }
  
  .trash-type {
    display: flex;
    align-items: center;
  }
  
  .trash-type img:first-child {
    margin-right: 10px;
  }
  
  .trash-type img:last-child {
    margin-left: auto;
  }
  
  .profile-picture {
    border-radius: 100%;
    width:15%;
    height:15%;
  }

.post-title {
    font-family: 'Afacad', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #17005a;
    margin-left: 0%;
    margin-top: 0%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
  
    background-color: transparent;
  }
  
  .flex-container > div {
    background-color: white;
    margin: 10px;
    /* padding: 20px; */
    font-size: 30px;
    flex-grow: 1;
  }
  
  .flex-container-inner {
    display: flex;
    padding: 0 !important;
    flex-direction: column;
    background-color: transparent;
  }
  
  .flex-container-inner > div {
    background-color: white;
    margin: 10px;
    padding: 0px;
    font-size: 30px;
  }
  
  .user_comment {
    border: 1px solid black;
    padding: 20px;
    height: 40%;
    border-radius: 25px;
    width: calc(100% - 40px);
  }
  
  .sent_comment {
    display: flex;
    justify-content: space-between;
    right: 10px; /* จัดปุ่มให้อยู่ชิดขวา */
    background-color: #17005a;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sent_comment button {
    right: 10px; /* จัดปุ่มให้อยู่ชิดขวา */
    background-color: #17005a;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button {
    padding: 10px 20px;
    background-color: #17005a;
    color: #9ad4ec;
    font-weight: 600;
    font-family: "Afacad", sans-serif;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
    background-color: #9ad4ec;
    color: #17005a;
     /* Darker shade on hover */
  }